In [4]:
print('WELCOME TO OUR STORE')
print('\nFOR PURCHASE ABOVE Rs.2000 GET A FLAT 10% OFF')
print('\nKINDLY ENTER THE QUANTITY AND PRODUCT ID ACCORDING TO THE LIST GIVEN BELOW')
print("\nPLEASE ENTER 'DONE' WHEN YOUR ORDER IS COMPLETE")
print('\n')
import json
fd=open ('record.json') #dictionary file stored in json format 
record=json.load(fd)
t=list()
f=list()
for k,v in record.items():
    print(k, end=' = ')
    for key,value in v.items():
           print(key ,':',value,end=', ') #printing the list of items available using tuples
    print(end='\n\n')
while True:
    prod_id=input('\nEnter the product id: ') #asking for product id
    #quant=input('enter the quatity: ')
    try:
        r=int(prod_id) #if product id id not integer then except block will run
        quant=input('Enter the quantity: ')
        quant=int(quant)
        if quant> record[prod_id]['quan']: #if entered quantity is greater than available quantity
            print("we only have",record[prod_id]['quan'],'items' )
        else:
            p=list()
            p.append(record[prod_id]['name'])
            p.append(quant)
            p.append(record[prod_id]['price']*quant)
            t.append(p) #adding the details of each order as a list in list t
            import time
            a=time.ctime() #noting time and day of order
            f.append(p)
            record[prod_id]['quan']=record[prod_id]['quan']-quant
                     #deducting the ordered materials

    except:
        prod_id=prod_id.lower()
        if prod_id=='done':
          f.append(a) #after order is complete adding time to the list
          break
        else:
            print('oops! something went wrong please try again')
            continue #if the entered product id is incorrect
js=json.dumps(record)
fd=open('record.json', 'w')
fd.write(js)  #writing the new record in the record.json file
fd.close()

import pandas as y  #using pandas to print bill in table format and to sum the total price
d= y.DataFrame(t, columns = ['Name','Quantity','Price'])
sum= d['Price'].sum()
if sum>2000:
  s=sum-sum*0.1  #giving discount on purchase above 2000rs
  s=int(s)

else:
  s=sum

print("\n\n Here is your bill")  #printing bill
print("**************")
print(d)
print('\n\nYOUR TOTAL AMOUNT IS:',sum,'rs')
if sum>s:
    print('\n AMOUNT AFTER DISCOUNT IS:',s,'rs')
print('\n**************')
print('Please come again')
ls=json.dumps(f)
fh=open('sales.json','a')
fh.write(ls) #adding the details of sold products and time to sales.json file
fh.close()

WELCOME TO OUR STORE

FOR PURCHASE ABOVE Rs.2000 GET A FLAT 10% OFF

KINDLY ENTER THE QUANTITY AND PRODUCT ID ACCORDING TO THE LIST GIVEN BELOW

PLEASE ENTER 'DONE' WHEN YOUR ORDER IS COMPLETE


1 = name : KitKat chocolate, price : 10, quan : 302, exp_date : 12/4/22, net_wt : 20,

2 = name : Maggie noodles, price : 12, quan : 170, exp_date : 5/6/22, net_wt : 70,

3 = name : Kissan ketchup, price : 113, quan : 123, exp_date : 2/1/22, net_wt : 950,

4 = name : Amul butter, price : 235, quan : 346, exp_date : 3/8/22, net_wt : 500,

5 = name : Tata salt, price : 18, quan : 428, exp_date : 22/5/22, net_wt : 1000,

6 = name : Quacker oats, price : 170, quan : 267, exp_date : 4/6/22, net_wt : 1000,

7 = name : Surf excel, price : 184, quan : 187, exp_date : 2/1/23, net_wt : 1500,

8 = name : Vedaka whole jeera, price : 80, quan : 134, exp_date : 1/3/22, net_wt : 100,

9 = name : Kellogs cornflakes, price : 268, quan : 130, exp_date : 6/7/22, net_wt : 1000,

10 = name : Hygenix soap, price : 30, quan : 362, exp_date : 9/9/22, net_wt : 100,

11 = name : Kohinoor Basmati, price : 539, quan : 123, exp_date : 4/3/22, net_wt : 5000,

12 = name : Tetly green tea, price : 111, quan : 94, exp_date : 23/5/23, net_wt : 100,

13 = name : Vandevi hing, price : 23, quan : 234, exp_date : 15/6/22, net_wt : 25,

14 = name : Protinex, price : 350, quan : 108, exp_date : 2/3/23, net_wt : 400,

15 = name : Parachute oil, price : 73, quan : 359, exp_date : 6/5/24, net_wt : 175,

16 = name : Wibs bread, price : 28, quan : 32, exp_date : 6/9/21, net_wt : 400,

17 = name : Nescafe gold, price : 290, quan : 65, exp_date : 2/5/23, net_wt : 50,

18 = name : Nutraj almonds, price : 385, quan : 81, exp_date : 2/12/22, net_wt : 250,

19 = name : Parle Marie, price : 30, quan : 233, exp_date : 30/8/22, net_wt : 250,

20 = name : Lays Maxx, price : 10, quan : 100, exp_date : 5/3/22, net_wt : 22.5,

21 = name : Nestle munch, price : 10, quan : 354, exp_date : 31/8/22, net_wt : 20.1,

22 = name : Amul cheese, price : 245, quan : 77, exp_date : 14/6/23, net_wt : 500,

23 = name : Govardhan paneer, price : 74, quan : 20, exp_date : 2/4/22, net_wt : 200,

24 = name : Haldiram's Gulab Jamun, price : 195, quan : 5, exp_date : 2/1/22, net_wt : 1000,

25 = name : Kpra masala, price : 75, quan : 231, exp_date : 26/8/22, net_wt : 100,

26 = name : Colgate Toothpaste, price : 51, quan : 331, exp_date : 6/8/23, net_wt : 100,

27 = name : Boomer gum, price : 650, quan : 12, exp_date : 2/12/22, net_wt : 526,

28 = name : Parle monaco, price : 30, quan : 142, exp_date : 5/6/23, net_wt : 200,

29 = name : ID Malabar Paratha, price : 85, quan : 58, exp_date : 4/2/22, net_wt : 450,

30 = name : Haldiram's soanpapdi, price : 65, quan : 55, exp_date : 27/6/22, net_wt : 250,

31 = name : Silver coin atta, price : 235, quan : 32, exp_date : 3/3/22, net_wt : 5000,

32 = name : Dairy Milk, price : 20, quan : 32, exp_date : 14/2/23, net_wt : 25,

33 = name : Madhur sugar, price : 49, quan : 36, exp_date : 21/3/23, net_wt : 1000,

34 = name : Horlicks, price : 100, quan : 22, exp_date : 2/3/23, net_wt : 250,


Enter the product id: 23
Enter the quantity: 3

Enter the product id: vffdcd
oops! something went wrong please try again

Enter the product id: 22
Enter the quantity: wdedsxs
oops! something went wrong please try again

Enter the product id: 4508889
Enter the quantity: 33
oops! something went wrong please try again

Enter the product id: 21
Enter the quantity: 3

Enter the product id: 1
Enter the quantity: 14

Enter the product id: 32
Enter the quantity: 4

Enter the product id: 34
Enter the quantity: 5

Enter the product id: 16
Enter the quantity: 4

Enter the product id: 27
Enter the quantity: 3

Enter the product id: 9
Enter the quantity: 3

Enter the product id: 7
Enter the quantity: 4

Enter the product id: 10
Enter the quantity: 4

Enter the product id: 29
Enter the quantity: 5

Enter the product id: DONE


 Here is your bill
**************
                  Name  Quantity  Price
0     Govardhan paneer         3    222
1         Nestle munch         3     30
2     KitKat chocolate        14    140
3           Dairy Milk         4     80
4             Horlicks         5    500
5           Wibs bread         4    112
6           Boomer gum         3   1950
7   Kellogs cornflakes         3    804
8           Surf excel         4    736
9         Hygenix soap         4    120
10  ID Malabar Paratha         5    425


YOUR TOTAL AMOUNT IS: 5119 rs

 AMOUNT AFTER DISCOUNT IS: 4607 rs

**************
Please come again